@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

body {
    background-color: #000414;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 37px 0px;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 10%;
}

.nav-links li {
    font-family: "ABeeZee", sans-serif;
    font-size: 25px;
    color: #fe0940;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.nav-links li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fe0940;
    margin-top: 5px;
    transition: 0.4s ease-in-out;
}

.nav-links > li:hover::after {
    width: 100%;
}

.nav-links li:hover {
    color: #efefef;
}
